@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-top: 5px;
        width: 300px;
    }

    .main-movie {
        margin-bottom: 4px;
    }
    .main-movie .movie-title {
        font-size: 40px;
    }
}

@media  screen and (min-width: 1024px) {
    .movie-description {
        width: 80%;
    }    
}